<p>
  <b>Title:</b>
  <%=h @page.title %>
</p>

<p>
  <b>Body:</b>
  <%= render_body @page %>
</p>

<p>
  <b>Edit summary:</b>
  <%=h @page.edit_summary %>
</p>

<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'History', history_page_path(@page) %> |
<%= link_to 'Index', pages_path %>
